<div class="card card_show">
  <h1>Log in</h1>
  <div class="horizontal_line hl_show"></div>
  <%= form_for(:session, url: login_path) do |f| %>
    <p class="form_inline_input form_input">
    <span class="form_label">
      <%= f.label :email %>
    </span>
    <%= f.email_field :email%>

    <span class="form_label">
      <%= f.label :password %>
    </span>
    <%= f.password_field :password%>
  </p>
    <div class="button">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>