<div class="card card_show">
  <h1>Sign up</h1>
  <div class="horizontal_line hl_show"></div>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="container form_input">
      <div class="form_label">
        <%= f.label :name %>
      </div>
      <%= f.text_field :name %>
    </div>

    <div class="container form_input">
      <div class="form_label">
        <%= f.label :email %>
      </div>
      <%= f.email_field :email %>
    </div>

    <div class="container form_input">
      <div class="form_label">
        <%= f.label :password %>
      </div>
      <%= f.password_field :password %>
    </div>

    <div class="container form_input">
      <div class="form_label">
        <%= f.label :password_confirmation, "Confirmation" %>
      </div>
      <%= f.password_field :password_confirmation %>
    </div>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
</div>