<div class="card card_show">
  <h1><%= header %></h1>
  <div class="horizontal_line hl_show"></div>

  <%= form_with model: chore do |form| %>
    <div class="container form_input">
      <div class="form_label">
        <%= form.label :name %>
      </div>
      <%= form.text_field :name %>
      <% chore.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="container form_input">
      <div class="form_label">
        <%= form.label :description %>
      </div>
      <%= form.text_area :description %>
      <% chore.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    
      <div class="container form_input" name="single_task">
        <div class="form_label">
          <%= form.label "Assigned to" %>
        </div>
        <select name="chore[user_id]">
            <option value="<%= nil %>">Unassigned</option>
            <% User.all.each do |user| %>
              <% if chore.user_id == user.id %>
                <option value="<%= user.id %>" selected><%= user.name %></option>
              <% else %>
                <option value="<%= user.id %>"><%= user.name %></option>
              <% end %>
            <% end %>
        </select>
        <% chore.errors.full_messages_for(:user_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div class="container form_input" name="single_task">
        <%= form.label :done %>
        <%= form.check_box :done %>
        <% chore.errors.full_messages_for(:done).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>